<div class="match-details" fxLayout="column">
  <div class="header" fxLayout="row wrap">
    <!--       <div fxFlex="50" class="team-A">{{scoreCard?.teamAName}}</div>
        <div fxFlex="50" class="team-B">{{scoreCard?.teamBName}}</div> -->
  </div>
  <div class="score" fxLayout="row wrap">
    <div fxFlex="50" class="team-A">234/4</div>
    <div fxFlex="50" class="team-B">45/3</div>
  </div>
  <div class="score" fxLayout="row wrap">
    <div fxFlex="50" class="detail-column" fxLayout="row wrap">
      <div fxFlex="40" class="detail-lable">Current Over</div>
      <div fxFlex="60" class="detail-field">1.5</div>
    </div>
    <div fxFlex="50" class="detail-column" fxLayout="row wrap">
      <div fxFlex="40" class="detail-lable">Total Overs</div>
      <div fxFlex="60" class="detail-field">50</div>
    </div>
    <div fxFlex="50" class="detail-column" fxLayout="row wrap">
      <div fxFlex="40" class="detail-lable">Tournament</div>
      <div fxFlex="60" class="detail-field">England Tour of Sri Lanka</div>
    </div>
    <div fxFlex="50" class="detail-column" fxLayout="row wrap">
      <div fxFlex="40" class="detail-lable">Batting</div>
      <div fxFlex="60" class="detail-field">ENGLAND</div>
    </div>
  </div>
</div>
